     <!-- DataTales Example -->
     <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Category</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category Name</th>
                            <th>Category Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < category.length; i++){ %>
                            <tr>
                              <td><%= i + 1 %></td>
                              <td><%= category[i].categoryName %></td>
                              <td><%= category[i].categoryDetail %></td>
                              <td>
                                <form >
                                  <a  type="button" class="btn btn-warning btn-circle btn-sm button-update"
                                   ><i class="fas fa-edit"></i></a>
                                  <button  class="btn btn-danger btn-circle btn-sm">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                              </td>
                            </tr>
                            <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Category Name</th>
                            <th>Category Detail</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>