     <!-- DataTales Example -->
     <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Article</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th> 
                            <th>Image ID</th>
                            <th>Category id</th>
                            <th>Article Name</th>
                            <th>Article Detail1</th>
                            <th>Article Detail2</th>
                            <th>Article Detail3</th>
                            <th>Article Detail4</th>
                            <th>Article Detail5</th>
                            <th>Article Detail6</th>
                            <th>Article Detail6</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                     
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>